.number {
    font-family: monospace;
    margin: 0 .5em;
}
.bin::after {
    content: ')₂';
}
.bin::before {
    content: '(';
}
.hex::before {
    content: '(';
}
.hex::after {
    content: ')₁₆';
}
ul {
    list-style: none;
    padding: 0;
}