<h1>{{title}}</h1>
<div>
  Min: <input [(ngModel)]="from" type="number" /><br>
  Max: <input [(ngModel)]="to" type="number" />
</div>
<div *ngIf="from <= to; else noNumbers">
  <ul>
    <li *ngFor="let number of numbers">
      <span class="number">{{number|pad:toSize:'.'}}</span>
      <span class="number bin">{{number|bin|pad:8|stringBlock:4:' '}}</span>
      <span class="number hex">{{number|hex|pad:4|stringBlock:2:' '}}</span>
      <span class="number">{{number|roman}}</span>
      <span class="number">{{number|literal}}</span>
    </li>
  </ul>
</div>
<ng-template #noNumbers>
  <p>Enter a valid range.</p>
</ng-template>