body {
    font-size: .8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.key-button {
    border-radius: 5px;
    padding: .5em;
    margin: 0;
    text-align: center;
    user-select: none;
    cursor: default;
}
