.app-root {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}
h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #666;
}