:host {
    margin: 0 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}