<div class="row">
    <app-unary-operator></app-unary-operator>
    <app-unary-operator></app-unary-operator>
    <app-unary-operator></app-unary-operator>
    <app-unary-operator></app-unary-operator>
</div>
<div class="row">
    <app-unary-operator></app-unary-operator>
    <app-unary-operator></app-unary-operator>
    <app-unary-operator></app-unary-operator>
    <app-binary-operator></app-binary-operator>
</div>
<div class="row">
    <app-digit [digit]=7></app-digit>
    <app-digit [digit]=8></app-digit>
    <app-digit [digit]=9></app-digit>
    <app-binary-operator></app-binary-operator>
</div>
<div class="row">
    <app-digit [digit]=4></app-digit>
    <app-digit [digit]=5></app-digit>
    <app-digit [digit]=6></app-digit>
    <app-binary-operator></app-binary-operator>
</div>
<div class="row">
    <app-digit [digit]=1></app-digit>
    <app-digit [digit]=2></app-digit>
    <app-digit [digit]=3></app-digit>
    <app-binary-operator></app-binary-operator>
</div>
<div class="row">
    <app-unary-operator></app-unary-operator>
    <app-digit [digit]=0></app-digit>
    <app-unary-operator></app-unary-operator>
    <app-binary-operator></app-binary-operator>
</div>