<div class="row">
    <app-binary-operator operator="%" (onClick)="handleBinary($event)">&percnt;</app-binary-operator>
    <app-unary-operator operator="CE" (onClick)="handleUnary($event)">CE</app-unary-operator>
    <app-unary-operator operator="C" (onClick)="handleUnary($event)">C</app-unary-operator>
    <app-unary-operator operator="back" (onClick)="handleUnary($event)"><small>⌫</small></app-unary-operator>
</div>
<div class="row">
    <app-unary-operator operator="1/x" (onClick)="handleUnary($event)"><small>1/x</small></app-unary-operator>
    <app-unary-operator operator="sqr"
        (onClick)="handleUnary($event)"><small>x<small><sup>2</sup></small></small></app-unary-operator>
    <app-unary-operator operator="sqrt" (onClick)="handleUnary($event)">&radic;<small>x</small></app-unary-operator>
    <app-binary-operator operator="/" (onClick)="handleBinary($event)">&div;</app-binary-operator>
</div>
<div class="row">
    <app-digit [digit]="7" (onClick)="handleDigit($event)"></app-digit>
    <app-digit [digit]="8" (onClick)="handleDigit($event)"></app-digit>
    <app-digit [digit]="9" (onClick)="handleDigit($event)"></app-digit>
    <app-binary-operator operator="*" (onClick)="handleBinary($event)">&times;</app-binary-operator>
</div>
<div class="row">
    <app-digit [digit]="4" (onClick)="handleDigit($event)"></app-digit>
    <app-digit [digit]="5" (onClick)="handleDigit($event)"></app-digit>
    <app-digit [digit]="6" (onClick)="handleDigit($event)"></app-digit>
    <app-binary-operator (onClick)="handleBinary($event)" operator="-">&minus;</app-binary-operator>
</div>
<div class="row">
    <app-digit [digit]="1" (onClick)="handleDigit($event)"></app-digit>
    <app-digit [digit]="2" (onClick)="handleDigit($event)"></app-digit>
    <app-digit [digit]="3" (onClick)="handleDigit($event)"></app-digit>
    <app-binary-operator operator="+" (onClick)="handleBinary($event)">&plus;</app-binary-operator>
</div>
<div class="row">
    <app-unary-operator operator="+-" (onClick)="handleUnary($event)">&plusmn;</app-unary-operator>
    <app-digit [digit]="0" (onClick)="handleDigit($event)"></app-digit>
    <app-unary-operator operator="," (onClick)="handleUnary($event)">,</app-unary-operator>
    <app-binary-operator operator="=" (onClick)="handleBinary($event)">&equals;</app-binary-operator>
</div>