<form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" />
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            Inserisci un'email valida.
        </div>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            Inserisci la password.
        </div>
    </div>
    <button type="submit" [disabled]="form.invalid">Login</button>

</form>