:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buckets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controls {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls>button {
    margin: .5em;
}